body{
	background-color: orange;
	text-align: center;
}

h1{
	color: yellow;
	text-align: center;
	text-shadow:  2px 3px #ff0000;
}

form {
	padding-bottom: 10px;
}

img{
	border: 5px solid #FFEFD5;
}